<main>
  <header>
    <nav>
      <a routerLink="/">Home</a>
      <a routerLink="/chat" ariaCurrentWhenActive="page">Chat</a>
      <a routerLink="/relatar-problema" ariaCurrentWhenActive="page">Relatar um problema</a>
      <a routerLink="/status-problema" ariaCurrentWhenActive="page">Status</a>
      <a routerLink="/painel-interno" ariaCurrentWhenActive="page">Painel</a>
      <!-- <a routerLink="/usuarios" ariaCurrentWhenActive="page">Usuarios</a> -->
    </nav>
  </header>
  <section class="content">
    <router-outlet></router-outlet>
  </section> 
</main>