<main> 
    <section class="content">
      <div class="button-container">
        <button mat-raised-button color="primary" (click)="RedirectTo(1)" class="big-button">Chat</button>
        <button mat-raised-button color="accent" (click)="RedirectTo(2)" class="big-button">Reportar Erro</button>
        <button mat-raised-button color="warn" (click)="RedirectTo(3)" class="big-button">Meus Chamados</button>
        <button mat-raised-button color="primary" (click)="RedirectTo(4)" class="big-button">Contato</button>
      </div>
    </section>
  </main>
  