<mat-card class="detail-container">
    <mat-card-header>
      <mat-card-title>Detalhes do chamado</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div class="detail-item">
        <label><strong>Descrição:</strong></label>
        <p>{{chamado.description}}</p>
      </div>
  
      <div class="detail-item">
        <label><strong>Usuário:</strong></label>
        <p>{{chamado.user}}</p>
      </div>
  
      <div class="detail-item">
        <label><strong>Código Informado:</strong></label>
        <p>{{chamado.id}}</p>
      </div>
    
      <div class="detail-item">
        <label><strong>Situação:</strong></label>
        <p>{{ getStatusText(chamado.status) }}</p>
      </div>

      <div class="image-preview" *ngIf="imagePreviews.length > 0">
        <div *ngFor="let image of imagePreviews" class="image-preview-item" (click)="openImageDialog(image.caminho)">
          <img [src]="image.caminho" alt="Image preview">
        </div>
      </div>

      <div class="button-group">
        <button color="warn" (click)="backToList()">Voltar à Lista</button>
      </div>
    </mat-card-content>
  </mat-card>
  